body {
      position: relative; 
  }

  #section1 {padding-top:50px;height:1000px;color: #fff; background-color: #1E88E5;}

  #section2 {padding-top:50px;height:1000px;color: #fff; background-color: #673ab7;}
  
  #section3 {padding-top:50px;height:1000px;color: #fff; background-color: #ff9800;}

  .navbar-brand {
    font-family: 'Roboto Slab';
    color: #ffffff;
    font-size: 40px;
    font-weight: 500;
}

  .navbar-nav{
    font-size: 20px;
}

  .page-scroll{
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -webkit-transform;
    -moz-transition-duration: 1s;
}